<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pangaea.taskflow">

    <application
        android:name=".TaskflowApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.notes.NoteActivity"
            android:label="@string/title_activity_note_edit" />
        <activity
            android:name=".ui.tasks.TaskActivity"
            android:label="Task View/Edit" />
        <activity
            android:name=".ui.projects.ProjectActivity"
            android:label="Project View/Edit" />
        <activity
            android:name=".ui.checklists.ChecklistActivity"
            android:label="Checklist View/Edit" />
    </application>

</manifest>